(
    selected_input_method: Keyboard,
    unlockables: {},
    high_score: (0, ""),
    selected_build: (Laser, Normal, Superboost),
    display_fps: true,
    deadzone_radius: 0.0,
    desired_fps: 60,
)